
 
      
  
   <div class="container" align="center">
       <form class="formfondo" [formGroup]="form" #frmCliente="ngForm" (ngSubmit)="Guardar()">

        <!--<div [hidden]="true">
          <input formControlName="inputid">
        </div>-->
        
        <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Cedula</label>
          <div class="col-sm-10">
            <input  class="form-control" formControlName="inputCedula" placeholder="">
         
          </div>
        </div><br>
                         
                   <div class="form-group row">
               <label  class="col-sm-2 col-form-label">Nombre</label>
               <div class="col-sm-10">
                 <input  class="form-control" formControlName="inputNombres" placeholder="">
              
               </div>
             </div><br>
             <div class="form-group row">
               <label  class="col-sm-2 col-form-label">Apellidos</label>
               <div class="col-sm-10">
                 <input class="form-control" formControlName="inputApellidos" placeholder="">
              
               </div>
             </div><br>
             <div class="form-group row">
               <label  class="col-sm-2 col-form-label">Celular</label>
               <div class="col-sm-10">
                 <input  class="form-control" formControlName="inputCelular" placeholder="">
              
               </div>
             </div><br>
             <div class="form-group row">
               <label class="col-sm-2 col-form-label">Correo</label>
               <div class="col-sm-10">
                 <input class="form-control" formControlName="inputCorreo" placeholder="">
              
               </div>
             </div><br>
   
             <div class="form-group row">
               <label  class="col-sm-2 col-form-label">Direccion</label>
               <div class="col-sm-10">
                 <input  class="form-control" formControlName="inputDireccion" placeholder="">
              
               </div>
             </div><br>
          
             <div class="form-group row">
               <label  class="col-sm-2 col-form-label">Usuario</label>
               <div class="col-sm-10">
                 <input  class="form-control" formControlName="inputUsuario" placeholder="">
              
               </div>
             </div><br>
             <div class="form-group row">
               <label class="col-sm-2 col-form-label">Clave</label>
               <div class="col-sm-10">
                 <input  class="form-control" formControlName="inputPassword" placeholder="">
              
               </div>
             </div>
           <br>
           <div align="center">
                
            <button class="btn btn-outline-secondary" type="submit">
              Guardar</button>


              <button class="btn btn-outline-secondary" [routerLink]="'/listar'" style="margin-left: 10px;">
                Cancelar</button>
              


              


              

                   
         
          
           </div>
           <br> 
         </form>
   
   </div>
 